#section-2 {
    padding: 30px 180px;
    background-color: #ec80fd23;
}

.section-2__info {
    display: flex;
    align-items: center;
    gap: 35px ;
    margin: 50px 0px;
}

.title_pink {
    color: #ED80FD;
}