.footer__list {
    margin-top: 30px;
    background-color: #dfa0d59f;
    margin: 20px 300px;
    padding: 20px 50px;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}


.button--blue {
        background-color: #2522db;
        padding: 10px 22px;
        color: white;
        border: none;
    }